@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Vijaya-Regular';
    src: url('/fonts/vijaya/Vijaya-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('/fonts/myriad/MYRIADPRO-REGULAR.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


@layer utilities {
    .container {
        @apply max-w-[80%] lg:max-w-[85%] 2xl:max-w-[1442px] mx-auto;
    }
}